fbprophet
holidays 
importlib-metadata               
ipykernel                         
ipython                          
ipython-genutils                                                                                                                    
jupyter-client    
jupyter-contrib-core          
jupyter-contrib-nbextensions                 
jupyter-core      
jupyter-highlight-selected-word 
jupyter-latex-envs              
jupyter-nbextensions-configurator
jupyterlab-pygments                                                                         
matplotlib                                                                          
nbclient                         
nbconvert                        
nbformat  
notebook                                         
numpy                                                 
pandas                           
pandas-datareader                                  
pip                                                                             
pymongo                                                   
pystan                                                                   
scikit-learn                     
scipy                           
seaborn                                           
setuptools                        
setuptools-git                                
urllib3                                             
wheel                            