fbprophet                      
fonttools                       
hijri-converter              
holidays                       
idna                            
importlib-metadata               
ipykernel                         
ipython                          
ipython-genutils               
jedi                            
Jinja2                           
joblib                            
jsonschema                       
jupyter-client                   
jupyter-contrib-core             
jupyter-contrib-nbextensions  
jupyter-core                     
jupyter-highlight-selected-word 
jupyter-latex-envs              
jupyter-nbextensions-configurator
jupyterlab-pygments              
kiwisolver                       
korean-lunar-calendar            
LunarCalendar                     
lxml                             
MarkupSafe                       
matplotlib                        
matplotlib-inline              
mistune                          
mkl-fft                           
mkl-random                        
mkl-service                    
munkres                          
nbclient                         
nbconvert                        
nbformat                          
nest-asyncio                    
netCDF4                           
notebook                       
numexpr                       
numpy                            
olefile                          
packaging                       
pandas                           
pandas-datareader               
pandocfilters                  
parso                           
pickleshare                   
Pillow                        
pip                            
plotly                           
prometheus-client              
prompt-toolkit                 
pycparser                         
Pygments                        
PyMeeus                           
pymongo                          
pyOpenSSL                        
pyparsing                         
pyrsistent                       
PySocks                           
                         
python-dateutil                   
pytz                             
                       
                                                                
scikit-learn                     
scipy                           
seaborn                        
Send2Trash                    
setuptools                        
setuptools-git                    
             
urllib3                           
                         
webencodings                    
wheel                            
                                 
xarray                          
zipp                           
